  <div ng-show="TampilTabel">
  <table border="1">
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Jabatan</th>
      <th>Jenjang Jabatan</th>
      <th>Eselon I</th>
      <th>TMT Pensiun</th>
      <th>Keterangan</th>
    </tr>
    <tr ng-repeat="row in rows">
        <td>{{row.No}}</td>
        <td>{{row.Nama}}</td>
        <td>{{row.Jabatan}}</td>
        <td>{{row.JenjangJabatan}}</td>
        <td>{{row.EselonI}}</td>
        <td>{{row.TMT_Pensiun}}</td>
        <td>{{row.Keterangan}}</td>
    </tr>
  </table>
  <br>
  <button ng-click="Proses()">Proses</button>
  
  </div>
  <div ng-show="TampilForm">
    <form>
        <div>
          <label for="nip">NIP:</label>
          <input ng-model="Peg.NIP" type="text" id="nip" name="nip">
        </div>
        <div>
          <label for="jabatan">Jabatan:</label>
          <input ng-model="Peg.jabatan" type="text" id="jabatan" name="jabatan">
        </div>
        <div>
          <label for="nilai_kinerja">Nilai Kinerja:</label>
          <input ng-model="Peg.NilaiKinerja" type="text" id="nilai_kinerja" name="nilai_kinerja">
        </div>
        <input type="submit" value="Simpan" ng-click="Tambahkan(Peg)">
      </form>
  </div>