<table ng-if="reload" border="1">
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Jabatan</th>
      <th>Jenjang Jabatan</th>
      <th>Eselon I</th>
      <th>TMT Pensiun</th>
      <th>Keterangan</th>
    </tr>
    <tr  ng-repeat="rowe in rowsKandidat">
        <td>{{rowe.No}}</td>
        <td>{{rowe.Nama}}</td>
        <td>{{rowe.Jabatan}}</td>
        <td>{{rowe.JenjangJabatan}}</td>
        <td>{{rowe.EselonI}}</td>
        <td>{{rowe.TMT_Pensiun}}</td>
        <td>-{{CekDataKandidat(rowe)?'Sudah Masuk Data Tambahan':'Belum Masuk Data Tambahan'}}
          <div ng-if="!CekDataKandidat(rowe)">
            <br class="minimal">
            <button ng-click="AddDataTambahan(rowe)">Masukkan ke Data Tambahan</button>
          </div>
        </td>
    </tr>
</table>
<br>

<button ng-click="addAllKandidat()">Masukkan Semua Kandidat ke Data Tambahan</button>
