<html>
     <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script>
  var app = angular.module('myApp', []);

  app.controller('formController', ['$scope', '$location', '$window', function($scope, $location, $window) {
    $scope.items = [
      {nomor: 1, namaJabatan: 'Direktur Utama', namaPejabat: 'Andri', nipPejabat: 'NIP.1234', jenjangJabatan: 'Eselon II', eselon1: 'DJP', eselon2: 'direktorat abc', tahunPensiun: '2025', tmtPensiun: '01 Januari 2025'},
      {nomor: 2, namaJabatan: 'Manager HRD', namaPejabat: 'Joni', nipPejabat: 'NIP.777', jenjangJabatan: 'Eselon II', eselon1: 'Setjen', eselon2: 'Biro sdm', tahunPensiun: '2030', tmtPensiun: '01 Januari 2030'},
      {nomor: 3, namaJabatan: 'direktur xxx', namaPejabat: null, nipPejabat: null, jenjangJabatan: 'Eselon II', eselon1: 'djbc', eselon2: 'direktorat abc', tahunPensiun: null, tmtPensiun: null}
    ];
    console.log($location);
    $scope.viewTable = false;
    $scope.Buka = function () {
    $scope.viewTable = true;
    };
    $scope.tambahkan = function (item) {
        //console.log(item);
        //var row = item.currentTarget.parentNode.parentNode;
        //var yanghilang = row.parentNode.removeChild(row);
        //console.log(yanghilang);
        
        //const cells = yanghilang.getElementsByTagName('td');
    
        //const cell1 = cells[1];
        //const cell1Value = cell1.innerHTML;
        
    
        $window.location.href = 'https://mockupmt.000webhostapp.com/IdentifikasiJabatan.html?Jabatan=' + item.namaJabatan;
    
    };

}]);
</script>

  </head>
  <div ng-app="myApp" ng-controller="formController">
<form >
    <div>
      <label for="scope">Ruang Lingkup:</label>
      <select id="scope" name="scope">
        <option value="kementerian_keuangan">Kementerian Keuangan</option>
       
      </select>
    </div>
    <br>
    <div>
      <label for="jenjang_jabatan">Jenjang Jabatan:</label>
      <select id="jenjang_jabatan" name="jenjang_jabatan">
        <option value="eselon_ii">Eselon II</option>

      </select>
    </div>
    <br>
    
    <br>
    <div>

      <button ng-click="Buka()">Cari</button>
    </div>
  </form>

  <div ng-show="viewTable==true">
      <table border="1">
          <tr>
            <th>No.</th>
            <th>Nama Jabatan</th>
            <th>Nama/NIP Pejabat Sekarang</th>
            <th>Jenjang Jabatan</th>
            <th>Eselon I</th>
            <th>Eselon II</th>
            <th>Tahun Pensiun</th>
            <th>TMT Pensiun</th>
            <th>Aksi</th>
          </tr>
          <tr ng-repeat="item in items">
            <td>{{item.nomor}}</td>
            <td>{{item.namaJabatan}}</td>
            <td>{{item.namaPejabat}} <br> {{item.nipPejabat}}</td>
            <td>{{item.jenjangJabatan}}</td>
            <td>{{item.eselon1}}</td>
            <td>{{item.eselon2}}</td>
            <td>{{item.tahunPensiun}}</td>
            <td>{{item.tmtPensiun}}</td>
            <td>
              <button ng-click="tambahkan(item)">Tambahkan Ke Data Jabatan Target</button>
            </td>
          </tr>
      </table>
  </div>
  </div>
 </html>