<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script>
  var app = angular.module('myApp', []);

  app.controller('indexController',  ['$scope', '$window', function($scope, $window) {
    $scope.Awal = true;
    $scope.Form = false;
    $scope.LeftMenu = 'https://ragilrojo1986.github.io/LeftMenu.html';
     $scope.items = [
        {no: 1, periode: 'Target_Eselon II -- Ragil-- 01/01/2024--Kemenkeu', JenjangTalent: 'Eselon III dan Jabatan Setara'},
        {no: 2, periode: 'Target_Eselon II -- Ragil-- 01/01/2025--Kemenkeu', JenjangTalent: 'Eselon III dan Jabatan Setara' },
        {no: 3, periode: 'Target_Eselon II -- Ragil-- 01/01/2026--Kemenkeu', JenjangTalent: 'Eselon III dan Jabatan Setara' }
      ];

      $scope.itemJabTarget = [
            {nomor: 1, namaJabatan: 'Direktur A', namaPejabat: '-', eselon1: 'DJA',eselon2: 'direktur xxx', tmtPensiun: '-', skj: '27', keterangan : 'Usulan Admin MT' , persetujuanAdminMT: 'V', persetujuanUnitMT: '-', statusPenetapan: 'V'},
            {nomor: 2, namaJabatan: 'Direktur B', namaPejabat: 'Harianto', eselon1: 'DJBC',eselon2: 'direktur bbb', tmtPensiun: '1 Januari 2024',  skj: '35', keterangan : 'Usulan Unit' , persetujuanAdminMT: 'X', persetujuanUnitMT: 'V', statusPenetapan: 'X'},
            {nomor: 3, namaJabatan: 'Direktur T', namaPejabat: 'Prsetyo', eselon1: 'DJP', eselon2: 'direktur dasa',tmtPensiun: '1 Januari 2023',  skj: '9', keterangan : 'Usulan Admin MT' , persetujuanAdminMT: '-', persetujuanUnitMT: 'V', statusPenetapan: '-'},
            {nomor: 4, namaJabatan: 'Direktur Tg', namaPejabat: '-', eselon1: 'DJP',eselon2: 'direktur adbasda', tmtPensiun: '-',  skj: 'tidak ditemukan', keterangan : 'Usulan Unit' , persetujuanAdminMT: '-', persetujuanUnitMT: 'V', statusPenetapan: 'Tidak Bisa Ditetapkan Karena SKJ tidak ditemukan'}
          ];
    $scope.Tampilan = {};
    $scope.Tampilan.Utama = true;
$scope.pilih = function(item) {
        //$window.location.href = 'https://ragilrojo1986.github.io/IdentifikasiJabatan.html?PeriodePemetaan=' + item.periode;
        // Tambahkan logika untuk menangani aksi pilih disini
        $scope.Tampilan = {};
        $scope.Tampilan.IdentifikasiJabatan = true;
      };
    
$scope.BukaForm = function () {
        $scope.Form = true;    
    };
    
$scope.tambah = function() {
    $scope.Form = false; 
    $scope.item = {no: $scope.items[$scope.items.length - 1].no + 1, periode: 'Target_Eselon II -- Ragil-- 01/01/2027--Kemenkeu', JenjangTalent:'Eselon III dan Jabatan Setara'};
    $scope.items.push($scope.item);
    $scope.item = {}; // Kosongkan form input setelah data ditambahkan
  };
  
  $scope.tambahSimulasi = function() {
    $scope.Form = false; 
    $scope.item = {no: $scope.items[$scope.items.length - 1].no + 1, periode: 'Target_Eselon II -- Ragil-- 01/01/2027--Kemenkeu--SIMULASI', JenjangTalent:'Eselon III dan Jabatan Setara'};
    $scope.items.push($scope.item);
    $scope.item = {}; // Kosongkan form input setelah data ditambahkan
  };

  }]);
</script>
 <style>
   .sub-menu {
    display: none;
  }
  .menu-item:hover .sub-menu {
    display: block;
  }


  .container {
    width: 100%;
    height: auto;
    display: flex; /* mengubah elemen menjadi sejajar */
  }
 
  
   .content {
    width: calc(100% - 200px); /* mengambil 100% lebar dikurangi lebar left-menu */
    height: auto;
    float: right;
    padding: 1px;
  }

  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation-name: fadeIn; /* Fade in the background */
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  top: 50%; /* Place the modal in the center of the page */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Full width */
  animation-name: slideIn;
  animation-duration: 0.4s;
}




</style>
  </head>
  
  <div ng-app="myApp" ng-controller="indexController">
  <div class="container">
      <div ng-include="LeftMenu"></div>

      <div class="content">
         <div ng-if="Tampilan.Utama">
            <div ng-show="Awal">
            <table border="1">
              <tr>
                <th>No.</th>
                <th>Periode Pemetaan</th>
                <th>Jenjang Jabatan Talent</th>
                <th>Aksi</th>
              </tr>
              <tr ng-repeat="item in items">
                <td>{{item.no}}</td>
                <td>{{item.periode}}</td>
                <td>{{item.JenjangTalent}}</td>
                <td><button ng-click="pilih(item)">pilih</button></td>
              </tr>
            </table>
            <button ng-click="BukaForm()">Tambah Pemetaan</button>
            </div>
            <br>
            <br>
            <form ng-show="Form" >
                <div>
                  <label for="scope">Ruang Lingkup:</label>
                  <select id="scope" name="scope">
                    <option value="kementerian_keuangan">Kementerian Keuangan</option>
                  </select>
                </div>
                <br>
                <div>
                  <label for="jenjang_jabatan">Jenjang Jabatan Target:</label>
                  <select id="jenjang_jabatan" name="jenjang_jabatan">
                    <option value="eselon_ii">Eselon II</option>                    
                  </select>
                </div>
                <br>
                <div>
                  <label for="jenjang_jabatan_Talent">Jenjang Jabatan Talent:</label>
                  <select id="jenjang_jabatan_Talent" name="jenjang_jabatan_Talent">
                    <option value="eselon_iii">Eselon III dan Setara</option>                    
                  </select>
                </div>
                <br>
                <div>
                  <button ng-click="tambah()">Buat Periode Pemetaan</button>
                
                  <button ng-click="tambahSimulasi()">Buat Periode Pemetaan (SIMULASI)</button>
                </div>
            </form>
          </div>
            <div ng-if="Tampilan.IdentifikasiJabatan">
              <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="uploadModalLabel">Unggah Dokumen</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- Form untuk mengisi nomor surat dan mengupload file -->
                      <form>
                        <div class="form-group">
                          <label for="nomorSurat">Nomor Surat</label>
                          <input type="text" class="form-control" id="nomorSurat" placeholder="Masukkan nomor surat">
                        </div>
                        <div class="form-group">
                          <label for="dokumen">Dokumen</label>
                          <input type="file" class="form-control-file" id="dokumen">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button ng-click="CloseModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                      <button type="submit" class="btn btn-primary">Unggah</button>
                    </div>
                  </div>
                </div>
              </div>
               
                <table id="TabelJabatanTarget" border="1">
                <caption>Data Jabatan Target Periode Pemetaan : <br> {{PeriodePemetaan}}</caption>
                <tr>
                  <th>Nomor</th>
                  <th>Nama Jabatan Target</th>
                  <th>Nama Pejabat Sekarang</th>
                  <th>Eselon I</th>
                  <th>Eselon II</th>
                  <th>TMT Pensiun</th>
                 
                  <th>SKJ</th>
                  <th>Keterangan</th>
                  <th>Persetujuan Admin MT</th> <!-- kolom baru -->
                  <th>Persetujuan Unit MT</th> <!-- kolom baru -->
                  <th>Status Penetapan</th> <!-- kolom baru -->
                </tr>
                <tr ng-repeat="item in itemJabTarget">
                  <td>{{item.nomor}}</td>
                  <td>{{item.namaJabatan}}</td>
                  <td>{{item.namaPejabat}}</td>
                  <td>{{item.eselon1}}</td>
                  <td>{{item.eselon2}}</td>
                  <td>{{item.tmtPensiun}}</td>
              
                  <td>{{item.skj}}</td>
                  <td>{{item.keterangan}}
                  <button ng-show="item.keterangan == 'Usulan Unit'" type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" ng-click="OpenModal()">
                      Upload Dokumen
                  </button>
                  </td>
                  <td>
                    <span ng-if="item.persetujuanAdminMT == 'V'">V</span>
                    <span ng-if="item.persetujuanAdminMT == '-'">-</span>
                    <button ng-if="item.persetujuanAdminMT == 'V'" ng-click="reset(item, 'persetujuanAdminMT')">RESET</button>
                    <span ng-if="item.persetujuanAdminMT == 'X'">X</span>
                    <button ng-if="item.persetujuanAdminMT == 'X'" ng-click="reset(item, 'persetujuanAdminMT')">RESET</button>
                    <button ng-if="item.persetujuanAdminMT == '-'" ng-click="setujui(item, 'persetujuanAdminMT')">Setujui</button>
                    <button ng-if="item.persetujuanAdminMT == '-'" ng-click="tolak(item, 'persetujuanAdminMT')">Tolak</button>
                  </td>
                  <td>
                    <span ng-if="item.persetujuanUnitMT == 'V'">V</span>
                    <button ng-if="item.persetujuanUnitMT == 'V'" ng-click="reset(item, 'persetujuanUnitMT')">RESET</button>
                    <span ng-if="item.persetujuanUnitMT == 'X'">X</span>
                    <button ng-if="item.persetujuanUnitMT == 'X'" ng-click="reset(item, 'persetujuanUnitMT')">RESET</button>
                    <span ng-if="item.persetujuanUnitMT == '-'">-</span>
                    <button ng-if="item.persetujuanUnitMT == '-'" ng-click="setujui(item, 'persetujuanUnitMT')">Setujui</button>
                    <button ng-if="item.persetujuanUnitMT == '-'" ng-click="tolak(item, 'persetujuanUnitMT')">Tolak</button>
                   <td>
                    <span ng-if="item.statusPenetapan == '-'">-</span>
                    <span ng-if="item.statusPenetapan == 'V'">V</span>
                    <button ng-if="item.statusPenetapan == 'V'" ng-click="reset(item, 'statusPenetapan')">RESET</button>
                    <span ng-if="item.statusPenetapan == 'X'">X</span>
                    <button ng-if="item.statusPenetapan == 'X'" ng-click="reset(item, 'statusPenetapan')">RESET</button>
                    <span ng-if="item.skj == 'tidak ditemukan'">Tidak Bisa Ditetapkan Karena SKJ tidak ditemukan</span>
                    <button ng-if="item.statusPenetapan == '-'" ng-click="setujui(item, 'statusPenetapan')">Setujui</button>
                    <button ng-if="item.statusPenetapan == '-'" ng-click="tolak(item, 'statusPenetapan')">Tolak</button>
                  </td>
                </tr>
              </table>
              
              <div ng-init="addRow()">
                   <button onclick="window.location.href='FormCariJabatan.html'">Tambah Jabatan Target dari Referensi Jabatan</button>
                    
                     <button onclick="window.location.href='FormCariJabatanBebas.html'">Tambah Jabatan Target dari Refensi Jabatan (bebas)</button>
                     
                     <button onclick="window.location.href='FormJabatanKosong.html'">Tambah Jabatan Target dari Pejabat yang Kosong</button>
                     
                      <button ng-click="downloadExcel('TabelJabatanTarget')">Download Data</button>
              </div>

            </div>
        </div>
  </div>
  </div>
</html>