<div>
    Rasio Talent
<br>
<label for="rasio-berdasarkan">Rasio Berdasarkan:</label>
<select ng-model="Kriteria" id="rasio-berdasarkan">
  <option value="jenis-kelamin">Jenis Kelamin</option>
  <option value="eselon-1">Eselon I</option>
  <option value="pendidikan">Pendidikan</option>
  <option value="usia">Usia</option>
</select>
<div ng-if="Kriteria === 'jenis-kelamin'">    
    <div ng-init="CariRasioKelamin()" id="piechart"></div>
</div>
<div ng-if="Kriteria === 'eselon-1'" >
    
    <div ng-init="CariRasioEselon1()" id="piechart"></div>
</div>
<div ng-if="Kriteria === 'pendidikan'">
    
    <div ng-init="CariRasioPendidikan()" id="chartPendidikan"></div>
</div>
<div ng-if="Kriteria === 'usia'">
    
    <div ng-init="CariRasioUmur()" id="histogram_div"></div>
</div>
</div>